.App {
  text-align: center;
}

.budget-form-field {
  margin: 0 auto;
}

.btn {
  margin-top: 2em;
  margin-bottom: 2em;
}

.budget-box {
  margin-top: 2rem;
  background: rgb(200,200,200);
  border: 1px solid black;
}

.expense-box {
  margin-top: 2rem;
  background: rgb(200,200,200);
  border: 1px solid black;
}

.title {
  display: flex;
  justify-content: space-evenly;
}

.content { 
  width: 80%;
  margin: 0 auto;
}

.add-button {
  margin: 10px auto;
}


.total-list {
  display: flex;
  justify-content: space-around
}
